body, html {height: 100%; margin: 0;}
body {overflow: hidden;}

.tableWrapper { height: 100%; }

.tableHeader { 
  padding: 20px 0; 
  text-align: center; 
  background: rgb(119,0,0);
  background: linear-gradient(90deg, rgba(119,0,0,1) 0%, rgba(119,0,0,1) 58%, rgba(186,94,0,1) 68%, rgba(230,157,0,1) 73%, rgba(254,255,131,1) 77%, rgba(230,157,0,1) 85%, rgba(119,0,0,1) 95%, rgba(119,4,0,1) 100%); 
}
.tableHeader h1 { font-size: 18px; font-weight: bold; }
.tableHeader input { 
  height: 100%;
  padding: 10px;
  width: 80%;
  outline: none;
  font-size: 18px;
  font-style: italic;
}
.results { padding: 10px; font-size: 12px; }
#tableGrid {height: 100%; width: 100%; }

/* overrides for table styles */
.ag-theme-alpine .ag-row { font-size: 16px; }
